<mat-card>
  <div class="question">
    Q: Ваш уровень подготовки до начала (должность, знание языков разработки)
  </div>
  <div class="answer">
    <p>A: Должность - эксперт разработки</p>
    <p>Языки разработки: Java 5-8, Python 3, SQL, PegaBPM (framework), C++</p>
    <p>TypeScript - впервые</p>
    <p>Javascript/HTML/CSS - базовые знания, начальный уровень</p>
    <p>Angular - был небольшой опыт разработки на Angular 1 (с версией могу ошибатья)</p>
  </div>
</mat-card>

<mat-card>
  <div class="question">
    Q: Был ли вам полезен курс или считаете сами разобрались бы лучше/быстрее?
  </div>
  <div class="answer">
    <p>A: Считаю что курс был полезен по нескольким причинам</p>
    <p>В курсе структурирован материал, необходимый для прохождения</p>
    <p>Преподаватель может пояснить непонятные моменты в рамках курса, дать дополнительную информацию</p>
    <p>Наличие сроков позволяет не отходить от курса и не откладывать изучение</p>
    <p>Много практических заданий, достаточно объемных, позволяет получить практический навы</p>
  </div>
</mat-card>

<mat-card>
  <div class="question">Q: Что было интересного и понравилось, что нет?</div>
  <div class="answer">
    <p>A: <span style="font-weight: bold;">Интересное</span>
        <p>прежде всего сам Angular, хорошие практические задания.
        Дополнительный материал по Material UI/Bootsrap считаю важной
        составляющей курса. </p>
        <p><span style="font-weight: bold;">Понравилось:</span> 
        <p>проведение лекций в режиме ввода и проверки кода</p>
        <p>в рамках курса было много практических заданий, что позволило получить хороший навык</p>
        <p><span style="font-weight: bold;">Не понравилось:</span></p>
        <p>объемные лекции, уходил практически весь день на 2 лекции;</p>
        <p>первая лекция была слабо связана с Angular, возможно стоило выдать
          информацию для самостоятельного обучения перед началом курса;
        </p>
        <p>задание 10 с блоксхемой в СР 1;</p>
        <p>в заданиях на разработку UI желательно прикладывать ожидаемые макеты
          часто, проще бывает понять по картинке, чем по тексту, что нужно
          сделать;
        </p>
        <p>очень сжатые сроки на выполнения СР, возможно, стоило бы увеличить
          срок до 2 недель, но не факт, что было бы лучше; 
        </p>
        <p>
          дополнительный материал, который не всегда относится к Angular, а
          касается общих принципов разработки. С учетом сжатих сроков возможно
          стоило отдавать на сам. изучение, если кто-то не знаком.
        </p>
  </div>
</mat-card>

<mat-card>
  <div class="question">
    Q: Достаточно ли было сложно и глубоко погружено в тему или курс прошёл на
    одном дыхании незаметно и можно было бы сделать задачки поинтереснее.
  </div>
  <div class="answer">
    A: Уровень сложности приемлемый, не сильно просто и не достаточно просто
  </div>
</mat-card>

<mat-card>
  <div class="question">
    Q: Были ли задачи/темы за рамками курса. Предлагались ли задачи "со
    звёздочкой"?
  </div>
  <div class="answer">
    <p>A: Были задачи со звездочкой, были достаточно объемные задачи.</p>
  </div>
</mat-card>

<mat-card>
  <div class="question">
    Q: Что бы вы посоветовали для саморазвития преподавателю и улучшению курса?
  </div>
  <div class="answer">
    <p>
      A: Вынести лекции в видеформат для самоизучения. Подключаться только для
      практики, проверки СР, ответа на вопросы
    </p>
  </div>
</mat-card>
